#!/usr/bin/make -f

DEB_CABAL_PACKAGE = debian-build
DEB_DEFAULT_COMPILER = ghc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

install/libghc-debian-build-dev install/haskell-debian-build-utils::
	echo 'misc:HaskellDebianBuildUtilPkgs=rsync, cabal-debian, dpkg-dev, devscripts, haskell-debian-utils, apt, sudo' >> debian/$(cdbs_curpkg).substvars

build/haskell-debian-build-utils:: build-ghc-stamp
